<!DOCTYPE html>
<html>
  <head>
    <title>Proyecto#1</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/base.css' />
  </head>
  <body>
    <section class="datos">
      <div class="main-content">
        <div class="main-content"></div>
      </div>

    </section>
     
        

        <div class="right">
          
          <section class="datos">
            <div>
              <img src="user.png" align="right" width=75 heightght=20>Raul Arturo Leon Moran<br> 
              Telf: 0968322085<br> 
              Email: raulemoran@espol.edu.ec
            </div>
          </section>
          <section class="listas">
            <div>
              <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
              </ul>
              <table border="1" align="right">
                        <caption>Lenguajes de Programacion</caption>
                        <tr>
                          <th>Python</th>
                          <th>✔️</th>
                        </tr>
                        <tr>
                          <th>Java</th>
                          <td>✔️</td>
                        </tr>
                        <tr>
                          <th>HTML</th>
                          <td>✔️</td>
                        </tr>
                        <tr>
                          <th>CSS</th>
                          <td>✔️</td>
                        </tr>
                      </table>
            </div>
          </section>

          <section class="footer">
            <form>
              <p>
              <label for="email">Email: </label>
                        <input type="text" id="email"><br><br>
              <label for="mensaje">Mensaje: </label>
                            <br><br>
              <input type="submit" value="Enviar"> <input type="reset">
              </p>
           </form>
          </section>
        </div>
    </div>
  </body>
</html>