<div class="container full">
	<div class="row v-align justify-content-center">
		<div class="col-5">
			<img id= imagen src="assets/logo.jpg" class="img-fluid" alt="imagen">
		</div>
		<div class="col-12 text-center text-light pt-2">
			<br/><h1 class="titulo">Bienvenido</h1><br/>
      <h1 class="subtitulo">Aqui encontrarás tus juegos <br/> favoritos de todas las plataformas</h1><br/>
      <button routerLink="/inicio" class= "entrar" mat-flat-button color="primary">ENTRAR</button>
		</div>

	</div>
</div>
